p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
.function {
  background-color: lightgrey;
  padding: 0.5em 0.5em 0.5em 4em;
  border: 1px solid black;
}